
@{
    ViewData["Title"] = "Vais Onde?";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #hero {
        width: 100%;
        height: calc(100vh - 110px);
        background: url("/img/hackerman.png") center;
        background-size: cover;
        position: relative;
    }
</style>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
        <h1 style="text-align:center">Vais Onde? <br />Boa Sorte na Próxima...<br />Pensas que és Árcaro?</h1>
    </div>
</section><!-- End Hero -->
