
@{
    ViewData["Title"] = "Consulta de Produto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ======= Portfolio Details Section ======= -->
<section id="portfolio-details" class="portfolio-details">
    <div class="container">

        <div class="row gy-12">

            <div class="col-lg-12">
                <div class="portfolio-info">
                    <h3>Informação do Produto&nbsp;&nbsp;&nbsp;&nbsp;<i class='bx bxs-package'></i></h3>
                    <ul>
                        <li><strong>Designação</strong>: @Model.Designacao</li>
                    </ul>
                </div>
                <br><br>
                <div class="text-center">
                    <form action="/Produto/Editar/@Model.Id">
                        <input type="submit" name="editarProduto" value="Editar Produto" style="background: #576880; border: 0; padding: 10px 24px; color: #fff; transition: 0.7s;" />
                    </form><br>
                    <form action="/Produto/Eliminar/@Model.Id">
                        <input type="submit" name="eliminarProduto" value="Eliminar Produto" style="background: #576880; border: 0; padding: 10px 24px; color: #fff; transition: 0.7s;" />
                    </form>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Portfolio Details Section -->
