
@{
    ViewData["Title"] = "Criação de Produto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main">

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <span>Criar Produto</span>
                <h2>Criar Produto</h2>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-lg-12">
                    <div class="info-box mb-4">
                        <i class='bx bxs-package'></i>
                        <h3>Produto Atual</h3>
                    </div>
                </div>

            </div>

            <div class="row" data-aos="fade-up">

                <div class="col-lg-12">
                    <form method="post" action="/Produto/Criar">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <input type="text" name="Designacao" class="form-control" placeholder="Designação" value="" required/>
                            </div>
                        </div>
                        <br />
                        <div class="text-center">
                            <input type="submit" name="enviar" value="Criar Produto" style="background: #576880; border: 0; padding: 10px 24px; color: #fff; transition: 0.7s;" />
                        </div>
                    </form>

                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->
