
@{
    ViewData["Title"] = "Listagem de Funcionários";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title">
                <span>Funcionários</span>
                <h2>Funcionários</h2>
            </div>
            <div class="row">
                @{ var listaFuncionarios = @Model;
                    foreach (var funcionario in listaFuncionarios) {
                        <div class="col-lg-4 col-md-6 align-items-stretch" data-aos="fade-up">
                            <div class="icon-box">
                                <div class="icon"><i class='bx bxs-user-detail'></i></div>
                                <h4><a href="/Funcionario/Consultar/@funcionario.Id">@funcionario.Nome</a></h4>
                                <p>Funcionário Nr: <b>@funcionario.NrFuncionario</b></p>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

    </section><!-- End Services Section -->

</main><!-- End #main -->
